h1{
    color: blueviolet; 
    background-color: rgb(29, 164, 99); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center; 
    width: 100%;
    margin: 10px auto;
    padding: 25px;
    letter-spacing: 2px;
    border-radius: 20px;
    box-shadow: 2px 3px 100px rgb(152, 108, 209);
}
body{
    background: linear-gradient(to right,#3DC2EC, #8100D1);
}