*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    color: white;
}
#form1{
    color: white;
    text-align: center;
    background: linear-gradient(to right,#294C5A 50%, #102129);
    padding: 25px;
    width: 300px;
    margin: 30px auto;
    border: 3px solid blue;
    border-radius: 25px;
    box-shadow: 5px 5px 40px rgb(86, 86, 157);
    transition: all 0.5s ease-in;
}
#form1:hover{
    transform: scale(1.05) translateY(-5px);


}
form{
    width: 500px;
    margin: 0px auto;

}
fieldset{
    width: 500px;
    margin: 0px auto;
    padding: 20px;
    background: linear-gradient(to right, rgb(32, 32, 87), blue) ;
    border-radius:25px ;


}
legend{
    background-color: #102129;
    padding: 10px;
    border-radius: 10px;
}
td{
    padding: 5px;
}
input[type="text"],input[type="tel"],input[type="email"],input[type="password"],input[type="date"],select{
    padding: 5px 10px;
    width: 100% ;
    background-color: rgb(73, 62, 62);
    border-radius: 5px;
}
label{
    padding: 5px 10px;
    width: 100% ;
    background-color: rgb(86, 67, 67);

}
textarea{
    padding: 5px 10px;
    width: 100% ;
    background-color: rgb(93, 81, 81);
    border-radius: 25px;


}
.tooltip{
    background-color: rgb(107, 68, 203);
    padding: 10px;
    border-radius: 10px;
    margin-top: 7px;
    border: 2px double;
    font-size: 10px;
    display: none;

}
input:focus+ .tooltip{
    display: block;

}
inpu[type="radio"]:checked+label{
    color: aqua;
    font-size: 20px;
}
.correct, .wrong{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    display: none;
}
input[type="email"]:valid:focus ~ .correct{
    display: inline;
}
input[type="email"]:invalid:focus~ .wrong{
    display: inline;
}



