<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
 background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);;
}
.nav_bar {
    background-color:rgba(255, 255, 255, 0.494) ;
    width: 75%;
    margin: auto;
    padding: 15px 30px;
    border-radius: 25px;
    position: fixed;

}
.nav{
    display: inline;
}
.navitem{
    text-decoration: none;
    color: rgb(36, 14, 125);
    font-family: "Roboto", sans-serif;
    padding: 4px;
}
.niv{
    margin: 0px auto;
    width: 450px;}
.heroo{
    width: 100%;
}


.hero{
    width: 100%;
}
h1{
    background: #53b3b5;
background: linear-gradient( to right,#fb78b1, #655ee0,#e4bc3e);
 background-clip: text;
 font-size: 50px;
 letter-spacing: 10px;
 color: transparent;
}